IS_DEVELOPEMENT=true
APP_PORT=127.0.0.1:3000
APP_ENV=local

# Database Config
DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=26257
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=
DB_QUERYSTRING="sslmode=disable"
MIGRATION_DIR="database/migrations"
SQLITE_FILEPATH=database/golang-api.db